.clients {
    @extend %section;
}

.clients-title {
   margin-bottom: 50px;
 }

.clients__list {
    @extend %reset-list;

    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
 }

 .clients__item {
      max-width: 210px;
      flex-basis: calc((100% - 30px) / 2);

   @media screen and (min-width: 768px) {
      width: 100%;
      flex-basis: calc((100% - 60px) / 3);
    }

   @media screen and (min-width: 1200px) {
      width: 100%;
      flex-basis: calc((100% - 150px) / 6);
   }
 }
 
 .clients__link {
    @extend %reset-link;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
 
    transition: border-color var(--animation);

    &:active {
      border-color: var(--accent-color);
    }

    @media screen and (min-width: 1200px) {
      &:hover,
      &:focus {
         border-color: var(--accent-color);
    }
 }
 }
 
 .clients__icon {
    fill: #AFB1B8;
    transition: fill var(--animation);

    .clients__link:active & {
      fill: var(--accent-color);
   }

    @media screen and (min-width: 1200px) {
      .clients__link:hover & {
         fill: var(--accent-color);
      }
      
      .clients_link:focus & {
         fill: var(--accent-color);
      }
    }
   
 }

 